openapi: 3.2.0
info:
  version: 1.0.0
  title: Pixc Public Templates API
servers:
- url: https://dashboard.pixc.com/v1
tags:
- name: Templates
paths:
  /api/template:
    x-swagger-router-controller: template
    get:
      tags:
      - Templates
      description: Return list of templates
      operationId: apiListTemplate
      parameters:
      - name: test
        in: header
        description: Test-only request
        required: false
        schema:
          type: boolean
          default: false
      - name: limit
        in: query
        description: Records to return
        required: false
        schema:
          type: integer
          default: 50
          maximum: 100
          minimum: 1
      - name: start
        in: query
        description: Records to offset
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessTemplateListResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/SuccessTemplateListResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/SuccessTemplateListResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/SuccessTemplateListResponse'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - pixc_auth:
        - api:template:view
      summary: Api list template
      x-summary-source: derived
    post:
      tags:
      - Templates
      description: Create new template
      operationId: apiAddTemplate
      parameters:
      - name: test
        in: header
        description: Test-only request
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessTemplateViewResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/SuccessTemplateViewResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/SuccessTemplateViewResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/SuccessTemplateViewResponse'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - pixc_auth:
        - api:template:create
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  description: Template name
                  type: string
                group:
                  description: Template group to use. Group defines special handlers attached to all orders using this template. Currently only "autobg" handler is available - it will process an order in fully-automated mode.
                  type: string
                  enum:
                  - autobg
                background:
                  description: 'Template background color. Ex. #ffffff'
                  type: string
                border:
                  description: 'Template border color. Ex.: #ffffff'
                  type: string
                borderWidth:
                  description: Template border width (px or %)
                  type: string
                shadow:
                  description: Template shadow
                  type: string
                types:
                  description: Template types
                  type: array
                  items:
                    $ref: '#/components/schemas/TemplateTypeObject'
                sizes:
                  description: Template sizes
                  type: array
                  items:
                    $ref: '#/components/schemas/TemplateSizeObject'
                instructions:
                  description: Template instructions
                  type: string
      summary: Api add template
      x-summary-source: derived
  /api/template/{templateId}:
    x-swagger-router-controller: template
    get:
      tags:
      - Templates
      description: Return template details
      operationId: apiShowTemplate
      parameters:
      - name: test
        in: header
        description: Test-only request
        required: false
        schema:
          type: boolean
          default: false
      - name: templateId
        in: path
        description: ID of template to show
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessTemplateViewResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/SuccessTemplateViewResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/SuccessTemplateViewResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/SuccessTemplateViewResponse'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - pixc_auth:
        - api:template:view
      summary: Api show template
      x-summary-source: derived
    put:
      tags:
      - Templates
      description: Update template
      operationId: apiUpdateTemplate
      parameters:
      - name: test
        in: header
        description: Test-only request
        required: false
        schema:
          type: boolean
          default: false
      - name: templateId
        in: path
        description: ID of template to update
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessTemplateViewResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/SuccessTemplateViewResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/SuccessTemplateViewResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/SuccessTemplateViewResponse'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - pixc_auth:
        - api:template:update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                group:
                  description: Template group to use. Group defines special handlers attached to all orders using this template. Currently only "autobg" handler is available - it will process an order in fully-automated mode.
                  type: string
                  enum:
                  - autobg
                background:
                  description: 'Template background color. Ex. #ffffff'
                  type: string
                border:
                  description: 'Template border color. Ex.: #ffffff'
                  type: string
                borderWidth:
                  description: Template border width (px or %)
                  type: string
                shadow:
                  description: Template shadow
                  type: string
                types:
                  description: Template types
                  type: array
                  items:
                    $ref: '#/components/schemas/TemplateTypeObject'
                sizes:
                  description: Template sizes
                  type: array
                  items:
                    $ref: '#/components/schemas/TemplateSizeObject'
                instructions:
                  description: Template instructions
                  type: string
      summary: Api update template
      x-summary-source: derived
    delete:
      tags:
      - Templates
      description: Delete template
      operationId: apiRemoveTemplate
      parameters:
      - name: test
        in: header
        description: Test-only request
        required: false
        schema:
          type: boolean
          default: false
      - name: templateId
        in: path
        description: ID of template to delete
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - pixc_auth:
        - api:template:remove
      summary: Api remove template
      x-summary-source: derived
components:
  schemas:
    SuccessTemplateViewResponse:
      required:
      - success
      - data
      properties:
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/TemplateObject'
    SuccessResponse:
      required:
      - success
      properties:
        success:
          type: boolean
    SuccessTemplateListResponse:
      required:
      - success
      - data
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/TemplateObject'
    ErrorResponse:
      required:
      - success
      - message
      properties:
        success:
          type: boolean
        code:
          type: string
        message:
          type: string
    TemplateTypeObject:
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - jpg
          - png
          - psd
          - original
    TemplateSizeObject:
      required:
      - aspect
      properties:
        aspect:
          type: string
          enum:
          - square
          - twothree
          - threetwo
          - fourthree
          - custom
          - ratio
        width:
          type: integer
        height:
          type: integer
    TemplateObject:
      required:
      - templateId
      properties:
        templateId:
          type: integer
        background:
          type: string
        name:
          type: string
        group:
          type: string
        border:
          type: string
        borderWidth:
          type:
          - integer
          - string
        types:
          type: array
          items:
            $ref: '#/components/schemas/TemplateTypeObject'
        sizes:
          type: array
          items:
            $ref: '#/components/schemas/TemplateSizeObject'
  securitySchemes:
    pixc_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            api:order:create: Create new orders
            api:order:view: View orders
            api:order:cancel: Cancel orders
            api:template:create: Create new templates
            api:template:update: Update templates
            api:template:view: View templates
            api:template:remove: Remove templates
            api:webhook:create: Create new webhook
            api:webhook:update: Update webhook
            api:webhook:view: View webhooks
            api:webhook:remove: Remove webhook
          authorizationUrl: https://dashboard.pixc.com/v1/oauth
