openapi: 3.2.0
info:
  version: 1.0.0
  title: Pixc Public Webhooks API
servers:
- url: https://dashboard.pixc.com/v1
tags:
- name: Webhooks
paths:
  /api/webhook:
    x-swagger-router-controller: webhook
    get:
      tags:
      - Webhooks
      description: Return list of webhooks
      operationId: apiListWebhook
      parameters:
      - name: test
        in: header
        description: Test-only request
        required: false
        schema:
          type: boolean
          default: false
      - name: limit
        in: query
        description: Records to return
        required: false
        schema:
          type: integer
          default: 50
          maximum: 100
          minimum: 1
      - name: start
        in: query
        description: Records to offset
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWebhookListResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/SuccessWebhookListResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/SuccessWebhookListResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/SuccessWebhookListResponse'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - pixc_auth:
        - api:webhook:view
      summary: Api list webhook
      x-summary-source: derived
    post:
      tags:
      - Webhooks
      description: Creates new webhook
      operationId: apiAddWebhook
      parameters:
      - name: test
        in: header
        description: Test-only request
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWebhookViewResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/SuccessWebhookViewResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/SuccessWebhookViewResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/SuccessWebhookViewResponse'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - pixc_auth:
        - api:webhook:create
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: URL of webhook. starting with http:// or https://
                type:
                  type: string
                  enum:
                  - order_created
                  - order_status_updated
                  - download_generated
                  description: url
              required:
              - url
              - type
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: URL of webhook. starting with http:// or https://
                type:
                  type: string
                  enum:
                  - order_created
                  - order_status_updated
                  - download_generated
                  description: url
              required:
              - url
              - type
      summary: Api add webhook
      x-summary-source: derived
  /api/webhook/{webhookId}:
    x-swagger-router-controller: webhook
    get:
      tags:
      - Webhooks
      description: Return webhook details
      operationId: apiShowWebhook
      parameters:
      - name: test
        in: header
        description: Test-only request
        required: false
        schema:
          type: boolean
          default: false
      - name: webhookId
        in: path
        description: ID of webhook to show
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWebhookViewResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/SuccessWebhookViewResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/SuccessWebhookViewResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/SuccessWebhookViewResponse'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - pixc_auth:
        - api:webhook:view
      summary: Api show webhook
      x-summary-source: derived
    put:
      tags:
      - Webhooks
      description: Update webhook
      operationId: apiUpdateWebhook
      parameters:
      - name: test
        in: header
        description: Test-only request
        required: false
        schema:
          type: boolean
          default: false
      - name: webhookId
        in: path
        description: ID of webhook
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWebhookViewResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/SuccessWebhookViewResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/SuccessWebhookViewResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/SuccessWebhookViewResponse'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - pixc_auth:
        - api:webhook:update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: URL of webhook. starting with http:// or https://
                active:
                  type: boolean
                  description: Is webhook active
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: URL of webhook. starting with http:// or https://
                active:
                  type: boolean
                  description: Is webhook active
      summary: Api update webhook
      x-summary-source: derived
    delete:
      tags:
      - Webhooks
      description: Remove webhook
      operationId: apiRemoveWebhook
      parameters:
      - name: test
        in: header
        description: Test-only request
        required: false
        schema:
          type: boolean
          default: false
      - name: webhookId
        in: path
        description: ID of webhook to remove
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - pixc_auth:
        - api:webhook:remove
      summary: Api remove webhook
      x-summary-source: derived
components:
  schemas:
    SuccessResponse:
      required:
      - success
      properties:
        success:
          type: boolean
    SuccessWebhookListResponse:
      required:
      - success
      - data
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/WebhookObject'
    ErrorResponse:
      required:
      - success
      - message
      properties:
        success:
          type: boolean
        code:
          type: string
        message:
          type: string
    SuccessWebhookViewResponse:
      required:
      - success
      - data
      properties:
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/WebhookObject'
    WebhookObject:
      required:
      - webhookId
      - createdAt
      properties:
        webhookId:
          type: integer
        createdAt:
          type: string
        url:
          type: string
        type:
          enum:
          - order_created
          - order_status_updated
          - download_generated
          type: string
        active:
          type: boolean
  securitySchemes:
    pixc_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            api:order:create: Create new orders
            api:order:view: View orders
            api:order:cancel: Cancel orders
            api:template:create: Create new templates
            api:template:update: Update templates
            api:template:view: View templates
            api:template:remove: Remove templates
            api:webhook:create: Create new webhook
            api:webhook:update: Update webhook
            api:webhook:view: View webhooks
            api:webhook:remove: Remove webhook
          authorizationUrl: https://dashboard.pixc.com/v1/oauth
