openapi: 3.2.0
info:
  version: 1.0.0
  title: Pixc Public Orders API
servers:
- url: https://dashboard.pixc.com/v1
tags:
- name: Orders
paths:
  /api/order:
    x-swagger-router-controller: order
    get:
      tags:
      - Orders
      description: Return list of orders
      operationId: apiListOrder
      parameters:
      - name: test
        in: header
        description: Test-only request
        required: false
        schema:
          type: boolean
          default: false
      - name: limit
        in: query
        description: Records to return
        required: false
        schema:
          type: integer
          default: 50
          maximum: 100
          minimum: 1
      - name: start
        in: query
        description: Records to offset
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrderListResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/SuccessOrderListResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/SuccessOrderListResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/SuccessOrderListResponse'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - pixc_auth:
        - api:order:view
      summary: Api list order
      x-summary-source: derived
    post:
      tags:
      - Orders
      description: Creates new order
      operationId: apiAddOrder
      parameters:
      - name: test
        in: header
        description: Test-only request
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrderViewResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/SuccessOrderViewResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/SuccessOrderViewResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/SuccessOrderViewResponse'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - pixc_auth:
        - api:order:create
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - files
              properties:
                templateId:
                  description: Template ID
                  type: integer
                files:
                  type: array
                  description: 'JSON array of objects: { url: URL, name: NAME, mid: EXTERNAL ID }'
                  items:
                    $ref: '#/components/schemas/OrderFileObject'
      summary: Api add order
      x-summary-source: derived
  /api/order/{orderId}:
    x-swagger-router-controller: order
    get:
      tags:
      - Orders
      description: Return order details
      operationId: apiShowOrder
      parameters:
      - name: test
        in: header
        description: Test-only request
        required: false
        schema:
          type: boolean
          default: false
      - name: orderId
        in: path
        description: ID of order to show
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrderViewResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/SuccessOrderViewResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/SuccessOrderViewResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/SuccessOrderViewResponse'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - pixc_auth:
        - api:order:view
      summary: Api show order
      x-summary-source: derived
    delete:
      tags:
      - Orders
      description: Cancel order
      operationId: apiCancelOrder
      parameters:
      - name: test
        in: header
        description: Test-only request
        required: false
        schema:
          type: boolean
          default: false
      - name: orderId
        in: path
        description: ID of order to cancel
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - pixc_auth:
        - api:order:cancel
      summary: Api cancel order
      x-summary-source: derived
  /api/order/{orderId}/download:
    x-swagger-router-controller: order
    get:
      tags:
      - Orders
      description: Return list of downloads for order
      operationId: apiDownloadListOrder
      parameters:
      - name: test
        in: header
        description: Test-only request
        required: false
        schema:
          type: boolean
          default: false
      - name: orderId
        in: path
        description: ID of order
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        description: Records to return
        required: false
        schema:
          type: integer
          default: 50
          maximum: 100
          minimum: 1
      - name: start
        in: query
        description: Records to offset
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessDownloadListResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/SuccessDownloadListResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/SuccessDownloadListResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/SuccessDownloadListResponse'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - pixc_auth:
        - api:order:view
      summary: Api download list order
      x-summary-source: derived
  /api/order/{orderId}/image:
    x-swagger-router-controller: order
    get:
      tags:
      - Orders
      description: Return list of images for order
      operationId: apiImageListOrder
      parameters:
      - name: test
        in: header
        description: Test-only request
        required: false
        schema:
          type: boolean
          default: false
      - name: orderId
        in: path
        description: ID of order
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        description: Records to return
        required: false
        schema:
          type: integer
          default: 50
          maximum: 100
          minimum: 1
      - name: start
        in: query
        description: Records to offset
        required: false
        schema:
          type: integer
          default: 0
          minimum: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessImageListResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/SuccessImageListResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/SuccessImageListResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/SuccessImageListResponse'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            image/jpg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - pixc_auth:
        - api:order:view
      summary: Api image list order
      x-summary-source: derived
components:
  schemas:
    SuccessResponse:
      required:
      - success
      properties:
        success:
          type: boolean
    OrderObject:
      required:
      - orderId
      - status
      - payment
      - createdAt
      properties:
        orderId:
          type: integer
        status:
          type: integer
        payment:
          type: string
        templateId:
          type: integer
        createdAt:
          type: string
    SuccessOrderListResponse:
      required:
      - success
      - data
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/OrderObject'
    ErrorResponse:
      required:
      - success
      - message
      properties:
        success:
          type: boolean
        code:
          type: string
        message:
          type: string
    SuccessOrderViewResponse:
      required:
      - success
      - data
      properties:
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/OrderObject'
    SuccessImageListResponse:
      required:
      - success
      - data
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/ImageObject'
    ImageObject:
      required:
      - imageId
      properties:
        imageId:
          type: integer
        orderId:
          type: integer
        status:
          type: integer
        name:
          type: string
        url:
          type: string
        urlEdited:
          type: string
        urlOriginal:
          type: string
        mid:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/ImageResultObject'
    SuccessDownloadListResponse:
      required:
      - success
      - data
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/DownloadObject'
    DownloadObject:
      required:
      - downloadId
      properties:
        downloadId:
          type: integer
        orderId:
          type: integer
        url:
          type: string
        createdAt:
          type: string
    ImageResultObject:
      required:
      - url
      properties:
        url:
          type: string
        size:
          type: string
        background:
          type: string
        type:
          type: string
        border:
          type: string
    OrderFileObject:
      required:
      - url
      properties:
        url:
          type: string
        name:
          type: string
  securitySchemes:
    pixc_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            api:order:create: Create new orders
            api:order:view: View orders
            api:order:cancel: Cancel orders
            api:template:create: Create new templates
            api:template:update: Update templates
            api:template:view: View templates
            api:template:remove: Remove templates
            api:webhook:create: Create new webhook
            api:webhook:update: Update webhook
            api:webhook:view: View webhooks
            api:webhook:remove: Remove webhook
          authorizationUrl: https://dashboard.pixc.com/v1/oauth
